body{
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100vh;
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("https://images.unsplash.com/photo-1669811541726-bae6ff714943?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");

}

h2{
    letter-spacing: 3px;
    font-size: 30px;
    text-transform: uppercase;
    color:blanchedalmond;
    text-align: center;
}
.clock {
    color:beige;
    display: flex;
    position: relative;
    
}
.clock span{
    width: 120px;
    height: 50px;
    background-color:rgb(132, 142, 150 );
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 18px;
    text-transform: uppercase;
    opacity: 0.8;
    text-shadow:(2px,2px,4px);
}
.clock .text{
    height: 40px;
    background-color:rgb(46, 46, 41);
    opacity: 0.8;
    
}
.clock #ampm{
    position: absolute;
    bottom: 0%;
    height: 40px;
    width: 50px;
    background-color: rgba(205, 142, 88, 0.582);
}